<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <script type="text/javascript" id="MathJax-script" async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script>
      MathJax = {
        tex: {
          inlineMath: [['$', '$']]
        }
      };
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.0.0/mermaid.min.js"></script>
  </head>
  <body>{{ content }}</body>
  <script>
    mermaid.initialize({
        startOnLoad:true
    });
    window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
  </script>
</html>